<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Synthese Page sousCategorie</title>
</head>
<body>
    <div class="interface">
        <header>
            <img src="" alt="Logo">
    
            <a href="sousCategorie.html">Agriculture</a>
            <a href="sousCategorie.html">Restauration</a>
            <a href="sousCategorie.html">Agroalimentaire</a>
            <a href="sousCategorie.html">Activités</a>
            <a href="sousCategorie.html">Hébergement</a>
            <a href="sousCategorie.html">Forfaits escapade gourmande</a>
            <a href="sousCategorie.html">Portrait de la région</a>
    
            <input id="searchbar"  type="text"
            name="search" placeholder="Vous recherchez...">
    
            <a href="">S'inscrire</a>
            <a href="">Se connecter</a>
        </header>

        <div class="header">
            <h1>
                Sous Catégorie
            </h1>
            <p>
                Integer ac molestie orci, non maximus orci. Etiam sit amet rhoncus lorem. Phasellus sed commodo nisl. Fusce gravida arcu non dignissim mollis. Integer iaculis ut lectus luctus blandit. Curabitur lacus velit, convallis vitae vehicula eu, luctus id metus. Duis auctor sem justo, et lobortis sem accumsan vitae.
            </p>
        </div>

        <div class="publicites">
            <div class="publicite1">
                <h2>
                    Publicité
                </h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, totam numquam dolorum corporis maiores voluptatibus.
                </p>
            </div>
            <div class="publicite2">
                <h2>
                    Publicité
                </h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, totam numquam dolorum corporis maiores voluptatibus.
                </p>
            </div>
        </div>


        <div class="activites">

            <div class="activite">
                <img src="" alt="Activite">
                <h3>
                    Nom de l'Activite
                </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, minus.
                </p>
            </div>


            <div class="activite">
                <img src="" alt="Activite">
                <h3>
                    Nom de l'Activite
                </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, minus.
                </p>
            </div>


            <div class="activite">
                <img src="" alt="Activite">
                <h3>
                    Nom de l'Activite
                </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, minus.
                </p>
            </div>


            <div class="activite">
                <img src="" alt="Activite">
                <h3>
                    Nom de l'Activite
                </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, minus.
                </p>
            </div>

        </div>

        <footer>

            <div class="infolettre">
                <h2>
                    Infolettre
                </h2>
                <p>
                    inscrivez-vous à l'infolettre pour ne jamais rien manquer!
                </p>
                <input id="infolettre"  type="text"
                name="email" placeholder="Votre email ici"> 
                <a href="#"> S'inscrire</a>
            </div>
            <a href="question.html">FAQ</a>
        </footer>
    </div>
</body>