
header.Main{
    @extend .container-fluid;
    @include setFlex(row,start,start);
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--blanc);
    font-size: 0.8em;
    
    & img.Logo{
        align-self: center;
        width: 120px;
        height: 120px;
        margin: 0px;
    }
    
    & .nav{
        align-self: center;
        margin-left: 20px;

        & input {
            margin-left: 70px;
        }
        & a{
            margin-right: 10px;
            font-size: 1em;
            color: var(--vert-fonce);
        }
    }
}
    
