// Header
//----------------------------------------------------

header{
    @include setFlex(row, center, center);
    position: sticky;
    height: 160px;
    width: 100%;
    background-color: var(--blanc);

    & img{
        justify-self: flex-start;
        width: 120px;
    }

    & a {
        margin-top: 60px;
    }
}