// Header
//----------------------------------------------------  

header.Main{
    @include setFlex(row,start,start);
    flex-wrap: wrap;
    height: 160px;
    margin: 0 auto;
    width: 1200px;

    @include breakpoint-max(992){
        width: 900px
    }

    & .Logo{
        margin-left: 0;
        // margin-right: 70px;
        padding: 0;
        align-self: flex-start;
        width: 200px;
        height: 160px;
    }
    .mainNav {
        @include setFlex(row,center,center);
        flex-wrap: wrap;
        align-self: flex-end;
        width: 800px;

        @include breakpoint-max(992){
            width: 600px
        }

        & ul.navSupp{
            @include setFlex(row,center,center);
            justify-self: flex-start;
            width: 300px;
            font-size: 0.6em;  
    
            & li{
                margin: 10px 10px;
                color: var(--vert);
                text-align: center;
    
                &:hover{
                    color: var(--vert-fonce);
                }
            }
        }
        & input.navSupp{
            margin-right: 20px;
            margin-top: 30px;
            height: 30px;
            width: 200px;
            font-size: 0.8em;

            @include breakpoint-max(992){
               margin-left: 0;
            }
            
        }
    
        & .nav{
            align-self: flex-start;
            margin-right: 150px;
            margin-top: 60px;
            font-size: 0.9em;
    
            & li{
                margin: 10px 10px;
                font-size: 0.8em;
                color: var(--vert);
    
                &:hover{
                    color: var(--vert-fonce);
                }
            }
        }
    }

    &::before{
        content: " ";
        width: 100%;
        height: 20px;
        background-color: var(--vert);
    }
}

