h1{
    font-family: var(--typo-titre);
}
h2{
    font-family: var(--typo-titre);
}
h3{
    font-family: var(--typo-titre);
}

p{
    font-family: var(--typo-texte);
}

button{
    font-family: var(--typo-texte);
}

input{
    font-family: var(--typo-texte);
}
