// Variables 
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

:root{
    --noir : #000;
    --blanc : #fff;
    --rouge : #D9042B;
    --bleu : #C9EBF2;
    --vert-pale : #84BF04;
    --vert : #72A603;
    --vert-fonce : #4A7600;

    --typo-text :'Quicksand', sans-serif;
    --typo-titre :'M PLUS Rounded 1c', sans-serif;
}