// Page d'Acceuil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Calendrier
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.calendrier{
    @include setFlex(column, start,start);
    margin: 0 auto;
    margin-top: 250px;
    width: 700px;
    
    .annee{
        padding: 10px 25px;
        color: var(--vert-fonce);
    }
    .mois{
        padding: 10px 25px;
        font-weight: bold;
        
        & ul {

            & li {

                & a{
                    color: var(--vert-fonce);
                }
            }
        }
    }
    .jourSemaine{
        align-self: center;
        margin: 0;
        text-align: center;
        color: var(--vert);
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .jours{
        align-self: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px 25px;
        font-weight: lighter;
        color: var(--vert-fonce);
        
    }

    .bientot{
        align-self: center;
        height: 420px;
        width: 700px;
        margin-top: 30px;
        text-align: center;
        background-color: var(--vert);
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;

        & h2{
            margin-top: 20px;
            font-weight: bold;
            color: #fff;
        }
    }   
}