// Page d'Acceuil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Section d'intro
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.introAgrotourisme{
    @include setFlex(column,start,start);
    width: 1200px;

    & p{
        position: relative;
        align-self: end;
        width: 400px;
        text-align: bottom left;
        margin-bottom: 60px;
        margin-right: 150px;
        color: var(--vert);

       

        &::after{
            content: " ";
            position: absolute;
            height: 400px;
            width: 400px;
            right: -30px;
            top: -100px;
            border-radius: 50%;
            background-color: var(--vert-pale);
            opacity: 0.2;

            @include breakpoint-max(992){
                height: 300px;
                width: 300px;
            }
        }
        
    }

    & h2{
        margin-left: 200px;
        margin-top: 60px;
        margin-bottom: 20px;
        font-weight: bold;
        color: var(--vert);

         @include breakpoint-max(992){
            
        }

        }
    
}