div.interface{
    & .personnages{
        @include setFlex(row,center,center);
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 150px;
        width: 800px;

        @include breakpoint-max(992){
            @include setFlex(column,center,center);
            margin-bottom: 30px;
        }

        & a{
            margin: 20px;

            & .personne{
                
                @include setFlex(column,center,center);
                margin-bottom: 30px;
                
                & img{
                    margin-bottom: 10px;
                    width: 200px;
                }

                & h2 {
                    font-size: 1.6em;
                    font-weight: bold;
                    color: var(--vert-fonce);
                }

                & h3 {
                    font-size: 1em;
                    color: var(--vert);
                }
            }
        }
    }
}