// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Actions Rapides
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.ActionsRapides{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
}
