// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Activitées Populaires
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.GestionActivitées{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
}
