// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Événements
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.GestionEvenements{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
}
