// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Gestion des membres
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.GestionDeMembre{
    padding: 1em;
    margin: 1em;
    width: 800px;
    border-radius: 5px;
    background-color: var(--bleu);
}


