// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Gestion des Forfaits
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.GestionForfaits{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
}
