// Page de l'administration
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Options Avancées
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

form.Edition{
    
    & div{
        @include setFlex(column, center, center);
        padding: 8px 0;
        margin: 0 auto;
    }

    & label, span{ 
        display: block;
    }

    & button.ConfirmEdit{
        margin: 0 auto;
        margin-top: 500px;
        padding: 5px 10vw;
    }

    div.edit1{
        position: absolute;
        right: 610px;
        
        @include breakpoint-max(1650){
            right: 450px;
        }

        @include breakpoint-max(1320){
            right: 280px;
        }

        @include breakpoint-max(992){
            right: 180px;
        }

        @include breakpoint-max(780){
            right: 100px;
        }
    }
    
    div.edit2{
        position: absolute;
        left: 610px;
        
        @include breakpoint-max(1650){
            left: 450px;
        }
        
        @include breakpoint-max(1320){
            left: 280px;
        }
        
        @include breakpoint-max(992){
            left: 180px;
        }

        @include breakpoint-max(780){
            left: 100px;
        }
    }
}