// Menu 
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Animation Menu Burger
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

nav.open .btn-line {

    &:nth-child(1) {
        transform: translate(0px, calc(var(--hauteur) + var(--distance))) rotate(45deg);
    }

    &:nth-child(2) {
        opacity: 0;
    }

    &:nth-child(3) {
        transform: translate(0px, calc(0px - var(--hauteur) - var(--distance))) rotate(-45deg);
    }
}



nav.open > .nav .navSupp {
    --variables: 5;
    height: calc(var(--variables) * 60px);

    @include breakpoint-max(991){
        --variables: 5;
        height: calc(var(--variables) * 60px);
    }
    
}