// Page de création du profil
//----------------------------------------------------

button.compte, .connection{
    display: block;
    margin: 0 auto;

    span{
        font-weight: bold;
    }
}

form.infos{
    & div{
        @include setFlex(column, center,center);
        margin: 0 auto;

        & input, h3{
            display: block;
        }

        & input{
            margin-bottom: 22px;
        }

        & h3{
            font-size: 1.3em;
        }
    }
}

h1{
    margin-bottom: 16px;
}

form.infos{
    @include setFlex(column, center, start);
    margin: 0 auto;
}