// Page de Fiche du forfait
//----------------------------------------------------

.Fiche{
    padding: 5em 10em;
    margin: 1em;
    width: 800px;
    border-radius: 5px;
    background-color: var(--bleu);

    & .PrixForfait{
        display: inline;
    }

    & h2 {
        padding-bottom: 12px;
    }
    
    & div{
        padding: 16px;
    }
}

.PanierIcone{
    display: inline;
    margin: 16px;
    width: 50px;   
    cursor: pointer;
}

.prixForfaitFiche{
    display: inline;

}