// Page d'accueil du forfait
//----------------------------------------------------

.Escapade, .Decouverte, .Detente, .Famille{
    background-color: rgb(255, 255, 255);
    padding: 10em 8em;
    margin: 1em;
    width: 50vw;
    height: 480px;
    
    @include breakpoint-max(1200){
        padding: 5em 4em;
    }

    & h2 {
        padding-bottom: 12px;
    }

    & div{
        padding: 16px;

        & h3, & p{
            display:inline;
        }
    }
}

.Escapade{
    position: absolute;
    margin-top: 250px;
    margin-left: 0;
    width: 50vw;
    top: 0;
    left: 0;
}

.Decouverte{
    position: absolute;
    margin-top: 250px;
    margin-right: 0;
    top: 0;
    right: 0;
    background-color: var(--bleu);
}

.Detente{
    position: absolute;
    margin-left: 0;
    width: 50vw;
    top: 714px;
    left: 0;
    background-color: var(--bleu);
}

.Famille{
    position: absolute;
    margin-right: 0;
    z-index: 10;
    top: 714px;
    right: 0;
}