// Page d'accueil du forfait
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Forfaits
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Standard, .Solitaire, .Groupe{
    background-color: var(--bleu);
    margin-top: 32px;
    width: 100vw;
    
    & div.InfosForfaits{
        margin: 0 auto;
        padding: 50px 0;
        width: 40vw;

        & p, h2{
            text-align: center;
        }

        & button{
            margin-left: 15.5vw;
        }
    }

    & h2 {
        padding-bottom: 12px;
    }
}

.Standard{
    background-color: var(--blanc);
}