// Page de la thématique du forfait
//----------------------------------------------------

.Standard, .Solitaire, .Groupe{
    background-color: var(--bleu);
    margin-top: 32px;
    width: 100vw;
    
    & div.InfosForfaits{
        margin: 0 auto;
        padding: 50px 0;
        width: 40vw;

        & p, h2{
            text-align: center;
        }

        & .prix{
            position: absolute;
            right: 15vw;
            padding: 16px;
            background-color:var(--bleu);
            border-radius:0 10px 0 0;
        }

        & button{
            margin-left: 15.5vw;

            @include breakpoint-max(992){
                margin-left: 14vw;
            }
        }
    }

    & h2 {
        padding-bottom: 12px;
    }
}

.Standard{
    background-color: var(--blanc);
}