// Page d'accueil du forfait
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Forfaits
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Panier{
    position : absolute;
    right: 0;
    bottom: 0;
    background-color: var(--vert-pale);
    padding: 2em;
    width: 550px;
    height: 100vh;

    & .ProduitsPanier{
        margin: 16px 0;
        background-color: var(--vert);

        & .prixPanier{
            display: inline;
        }
    }

        & img {
            position: absolute;
            width: 50px;
            right: 30px;
            top: 30px;
        }

        & h2 {
            padding-bottom: 12px;
            }

        & div{
            padding: 8px;

        & .InfosCarte h3, & .InfosCarte p{
            display:block;
        }

        & input, .SeRappeler{
            display: inline;
            margin-top: 22px;
        }

    }
}