// Page d'accueil du forfait
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Forfaits
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Panier{
    background-color: var(--bleu);
    padding: 5em;
    margin: 1em;
    width: 800px;

        & h2 {
            padding-bottom: 12px;
            }

        & div{
            padding: 16px;

        & .InfosCarte h3, & .InfosCarte p{
            display:inline;
        }

    }
}