// Page de fiche du forfait
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Panier
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Panier{
    position : absolute;
    right: 0;
    top: 0;
    padding: 2em;
    width: 550px;
    height: 100vh;
    border-left: 1px solid rgb(207, 207, 207);
    background-color: var(--blanc);
    
    & .ProduitsPanier{
        margin: 16px 0;
        padding: 15px;
        box-shadow: rgba(44, 44, 44, 0.27) 0px 0px 0.25em;
        border-radius: 5px;

            & button{
                display: block;
                margin: 10px ;
            }
    }

    & img {
        position: absolute;
        width: 30px;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }

        & h2 {
            padding-bottom: 12px;
        }

    & div{
        padding: 8px;

        & .InfosCarte .InfoCarte h3, .InfosCarte .InfoCarte p{
            display:inline;
            font-size: 10px;
        }  

        & input, .SeRappeler, button{
            display: inline;
            margin-top: 22px;
        }    

        & .SeRappeler{
            margin-left: 40px;
        }
    }

    & .AcheterPanier{
        margin-left: 16px;
        margin-top: 10px;
        padding: 8px 210px;
    }
}

    .Methode{
                
        & p, input{
            display: inline;
        }
    }

    .InfoCarte{

        & h3, p{
            display: inline;
        }
    }

    .PrixPaniers{
        
        & .prixPanier{
            display: inline;
        }
    }

    .Panier-close > .Panier{
        width:0px;
    }

    .Panier-open > .Panier{
        width: 5500px;
        box-shadow: 6px 0px 15px 6px rgba(0,0,0,0.4);
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    }