// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Carte
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Carte{
    position:absolute;
    right: 30px;
    top: 160px;
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    height: 42vh;
    width: 45vw;

    & h2 {
        padding-bottom: 12px;
    }
    & div{
        padding: 16px;

    & h3, & p{
        display:inline;
    }
    }
}