// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Transactions
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Transactions{
    position: absolute;
    top: 600px;
    right: 30px;
    padding: 1em;
    margin: 1em;
    width: 45vw;
    border-radius: 5px;
    background-color: var(--bleu);

    @include breakpoint-max(1230){
        position: inherit;
        display: block;
        width: 80vw;
    }

    & .Transaction{
        margin-top: 32px;
        padding: 16px;
        border-radius: 5px;
        background-color: rgb(186, 226, 236);
    }

    & h2{
        display: inline;
    }

    & h3{
        display: block;
        margin-bottom: 0;
        margin-top: 8px;
    }

    & .prix{
        display: inline;
    }

    & .commande{
        display: inline;
    }
}