// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Favoris
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Favoris{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
    
    & img{
        display: inline;
        width: 100px;
    }

    & h2{
        display: inline;
    }

    
}