// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Transactions
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Transactions{
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    width: 800px;
    @include breakpoint-max(992){
        width: 600px;
    }

    & .Transaction{
            margin-top: 32px;
            padding: 16px;
            background-color: rgb(177, 220, 231);
    }

    & h2{
        display: inline;
    }

    & h3{
        display: block;
        margin-bottom: 0;
        margin-top: 8px;
    }

    & .prix{
        display: inline;
    }

    & .commande{
        display: inline;
        
    }

    


    
}