// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Favoris
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Favoris{
    position: absolute;
    left: 30px;
    top: 800px;
    padding: 1em;
    margin: 1em;
    width: 45vw;
    border-radius: 5px;
    background-color: var(--bleu);

    @include breakpoint-max(1230){
        position: inherit;
        display: block;
        width: 80vw;
    }

    .Favori{
        margin-top: 32px;
        padding: 16px;
        border-radius: 5px;
        background-color: rgb(186, 226, 236);
        
        & img{
            display: inline;
            width: 100px;
        }
    
        & h2{
            display: inline;
        }

        & p{
            margin-top: 8px;
        }
    } 
}