// Page du profil
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Carte
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Carte{
    position:absolute;
    right: 30px;
    top: 160px;
    background-color: var(--bleu);
    padding: 1em;
    margin: 1em;
    height: 400px;
    width: 45vw;
    @include breakpoint-max(1230){
        position: inherit;
        display: block;
        width: 80vw;
    }

    & h2 {
        padding-bottom: 12px;
    }
    & div{
        padding: 16px;

    & h3, & p{
        display:inline;
    }
    }
}