// Page du portrait de la région
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Carte des Laurentides
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.MapLaurentides{
    
    & img{
        position: absolute;
        right: 43vw;
        top: 1100px;
        width: 300px;
        margin: 0 auto;
    }

    & a{
        padding: 10px;
        display: block;
        cursor: pointer;
        color: var(--noir);
    }

    & .Pin{
        width: 20px;
        height: 20px;
        border: 6px solid var(--bleu);
        border-radius: 100%;
        cursor: pointer;
        background-color: var(--blanc);
    }

    & .Argenteuil{
        position: absolute;
        top: 1520px;
        right: 43vw;
    }

    & .PaysDenHaut{
        position: absolute;
        top: 1450px;
        right: 43vw;
    }

    & .RiviereDuNord{
        position: absolute;
        top: 1520px;
        right: 43vw;
    }

    & .Laurentides{
        position: absolute;
        top: 1300px;
        right: 43vw;
    }

    & .Mirabel{
        position: absolute;
        top: 1570px;
        right: 43vw;
    }

    & .DeuxMontagnes{
        position: absolute;
        top: 1625px;
        right: 43vw;
    }
}

img{
    display: inline;
    width: 100px;
    margin:0 auto;
}

.padRegion {
    height: 500px;
}
