// Page du portrait de la région
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Carte des Laurentides
// - - - - - - - - - - - - - - - - - - - - - - - - - - -


.MapLaurentides{

    & img{
        width: 500px;
        margin:0 auto;
    }

    & h3{
        display: block;
        cursor: pointer;
    }
}
