// Page du portrait de la région
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Carte des Laurentides
// - - - - - - - - - - - - - - - - - - - - - - - - - - -


.MapLaurentides{

    & img{
        width: 500px;
        margin:0 auto;
    }

    & a{
        padding: 10px;
        display: block;
        cursor: pointer;
    }
}
