// Page du portrait de la région
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Une MRC de la région
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.DescriptionMRC{
    width: 100vw;
    padding: 50px 300px;
    text-align: center;
    background-color: var(--bleu);

    @include breakpoint-max(1400){
        padding: 50px 200px;
    }

    @include breakpoint-max(992){
        padding: 50px 100px;
    }

    & span{
        font-weight: bold;
    }
}

img.mapMRC{
    width: 50vw;
}

div.Reconnue{
    @include setFlex(column, center, center);
    padding: 20px;
}
