.activites{
    @include setFlex(row,center,center);
    flex-wrap: wrap;

    @include breakpoint-max(992){
        @include setFlex(column,center,center);
    }
    

    .activite{
        @include setFlex(column,center,center);
        padding: 40px;
        width: 400px;
        
        & img{
            width: 200px;
        }
        & h3 {
            margin-top: 20px;
            text-align: center;
            color: var(--vert-fonce);
        }
        & p {
            margin-bottom: 10px;
            text-align: center;
            color: var(--vert);
        }

      
    }
}

.categorie {
    & .nom {
        text-align: center;
    }
}