.activites{
    @include setFlex(row,center,center);
    flex-wrap: wrap;

    @include breakpoint-max(992){
        @include setFlex(column,center,center);
    }
    

    .activite{
        @include setFlex(column,center,center);
        padding: 40px;
        width: 400px;
        
        & img{
            align-self: center;
            display: block;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
            border-radius: 10%;
        }
        & h3 {
            margin-top: 20px;
            text-align: center;
            color: var(--vert-fonce);
        }
        & p {
            text-align: center;
            color: var(--vert);
        }

      
    }
}