.laPersonne{
    @include setFlex(row,center,center);
    margin-top: 200px;
    padding-top: 200px ;
    width: 700px;
    margin: 0 auto;
    flex-wrap: nowrap;

    & img {
        align-self: center;
        display: block;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
        border-radius: 10%;
    }

    & .infoPersonne{
        
        margin: 60px;

        & h2{
            font-weight: bold;
            color: var(--vert-fonce);
        }

        & p{
            color: var(--vert);
        }
        
    }

    @include breakpoint-max(992){
        @include setFlex(column,center,center);
    }
}